# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.so
.Python
.venv/
venv/
env/
ENV/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env

# Logs
*.log

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
